@import "../nifty/_variables.less";


/* BOOTSTRAP'S COMPONENTS */

.form-group {
    &.required {
        label:after {
            content: ' *';
            color: @state-danger;
        }
    }
}

/* DROPDOWN */
/*======================================*/
& when (@dropdown = true) {

    // Sizes
    // ----------------------------------------------
    .dropdown-menu-img{
        margin-top: 15px;
        &-sm{
            min-width: 78px;
        }
        &-md{
            min-width: 96px;
        }
        &-lg{
            min-width: 140px;
        }
    }

    .dropdown {
        .with-caret-bottom-right {
            &:after {
                float: right;
                margin-top: -10px;
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 10px 10px;
                border-color: transparent transparent #ccc transparent;
            }
            &:hover {
                &:after {
                    border-color: transparent transparent #000 transparent;
                }
            }
        }
    }
}

