@import "../nifty/_variables.less";


/* BOOTSTRAP'S COMPONENTS */

.form-group {
    &.required {
        label:after {
            content: ' *';
            color: @state-danger;
        }
    }
}

/* DROPDOWN */
/*======================================*/
& when (@dropdown = true) {

    // Sizes
    // ----------------------------------------------
    .dropdown-menu-img{
        &-sm{
            min-width: 78px;
        }
        &-md{
            min-width: 96px;
        }
        &-lg{
            min-width: 140px;
        }
    }
}
